<%- include('partials/header') %>

    <div class="box" id="heading">
        <h1 style="letter-spacing: 2px;">Register</h1>
        
    </div>
    <form action="/register" method="post" class="registration-form">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button type="submit">Register</button>
    </form>

<%- include('partials/footer') %>